@import "../../node_modules/font-awesome/css/font-awesome.css";

header {
	background: #473F64;
	margin: 0.1em ;
	color: #fff;
	margin-bottom: 2em;
	h1 {
		font-weight: 200;
	}
}

.container-fluid { max-width: 1400px; }

.card {
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	img {
		width: 100%;
	}
}

.card-footer {
    color: gray;
}
  
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }
}

[class*="row"] {
	margin-bottom: 1em;
  justify-content: center;
}

/*
[class*="col-"] {
	background: #efefef;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}
*/
