<header role="banner">
	<h1>Welcome to {{title}}!</h1>
</header>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ shotTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body {{ name }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>

<div class="container-fluid">
  <div class="row">
    <div class="card-columns">
      <ng-container *ngFor="let shot of data.screenShots">
          <div class="card">
            <div class="card-block" >
							<img class="card-img-top" src="{{shot.images.teaser}}" alt="Card image cap" (click)="openModal(content, shot)">
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
