<header role="banner">
	<h1>Welcome to {{title}}!</h1>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="card-columns">
      <ng-container *ngFor="let shot of data.screenShots">
          <div class="card">
            <div class="card-block" >
              <img class="card-img-top" src="{{shot.images.teaser}}" alt="Card image cap">
              <h6 class="card-title">{{shot.title}}</h6>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
