<div class="container-fluid">
  <div class="row">
    <div class="card-columns">
      <ng-container *ngFor="let shot of data.screenShots">
          <div class="card">
            <div class="card-block" >
              <img class="card-img-top" src="{{shot.images.teaser}}" alt="Card image cap" (click)="openModal(content, shot)">
            </div>
            <div class="card-footer">
                <div class="row" style="vertical-align: inline" >    
                    <div class="col-4"> <i class="fa fa-eye ">{{shot.viewsCount}}</i> </div>
                    <div class="col-4"> <i class="fa fa-thumbs-up ">{{shot.likesCount}}</i> </div>
                    <div class="col-4"> <i class="fa fa-bitbucket ">{{shot.bucketsCount}}</i> </div>
                </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Propriedade da Imagem</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="{{screenshot.images.normal}}" alt="Card image cap"/>
    <button (click)="favorite()">{{favoriteButtonDescription}}</button>
    <p><p>Autor: {{ screenshot.author.name }}
    <p>Data de publicação: {{ screenshot.publishDate | date: 'dd/MM/yyyy' }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>